# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     momooz
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Upload destination for product assets
    products_upload_dir: '%kernel.root_dir%/../web/uploads/products/'

    # domain config
    domain_admin: admin.mamoos.dev
    domain_vendor: vendor.mamoos.dev
    domain_consumer: mamoos.dev

    # social plugin iids
    facebook_app_id: '671424139684750'
    facebook_app_secret: '8f0e87e83167c9051f466cad1fcc1878'
    google_app_id: '393835942245-n1lcdsv7r0om7fv0m2uep3p1ln9ltjf5.apps.googleusercontent.com'
    google_app_secret: '3b1CTADPG9QW7ZWMlXPTF085'