<ul>
    {% for cat in category.getChilds() %}
        <li>
            <label> > </label> <a href="{{ path('category_page', {id: cat.getId()}) }}" {% if selected.getId() == cat.getId() %}class="selected"{% endif %}>{{ cat.getCategoryName() }}</a>   
            <div class="count-products-filter mb-10p  dispaly-inline-block prl-5p br-5p">{{ cat.getInStockEntries()|length }}</div> <br/>
            {% if cat.getChilds()|length > 0 %}    
                {{ render(controller('AppWebBundle:Category:catSideMenu', { 'id': cat.getId(), 'selected' => selected.getId() })) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>