<script type="text/javascript">
    var filter_modal_ext = new FilterModal();
    filter_modal_ext.setRefreshUrl("{{ path('category_next_page', {id: category.getId(), page: 0}) }}");
    filter_modal_ext.setServerSide(true);
    filter_modal_ext.setLoader("<div style='width:100%; text-align:center; margin-top:20px;'><img style='display: inline-block; position: relative; top: 3px; right: 5px;' src='{{ asset('images/ajax-loader.gif') }}' /> Loading...</div>");
</script>
{% for entry in category.getInStockEntries() %}
    {% if app_web_user.isDeliverable(entry) and entry.isEnabled() %}
        {% set filterData = entry.getFilterData() %}
        <script type="text/javascript">
            filter_modal_ext.register('{{ filterData|json_encode()|raw }}');
        </script>
    {% endif %}
{% endfor %}
<script type="text/javascript">
    $('#main_filter').ItemFilter(filter_modal_ext);
</script>