{% set break = false %}
{% set cur = 0 %}
{% set page = app.request.get('page', 0) %}
{% set skip_index = 0 %}
{% set stop_pos = cur_page * 9 %}
{% for entry in category.getInStockEntries() if not break %}

    {% set valid_cat = true %}
    {% set valid_brand = true %}

    {% if cats|length > 0 %}
        {{ entry.getItem().getProduct().getCategory().getId() }}
        {% if entry.getItem().getProduct().getCategory().getId() not in cats %}
            {% set valid_cat = false %}
        {% endif %}
    {% endif %}

    {% if brands|length > 0 %}
        {% if entry.getItem().getBrand() %}
            {{  entry.getItem().getBrand().getId() }}
            {% if entry.getItem().getBrand().getId() not in brands %}
                {% set valid_brand = false %}
            {% endif %}
        {% else %}
            {% set valid_brand = false %}
        {% endif %}
    {% endif %}

    {% if app_web_user.isDeliverable(entry) and valid_cat and valid_brand %}
        {% set thumb_content = render(controller('AppWebBundle:Item:thumb', { 'id': entry.getId() })) %}
        {% if thumb_content != "" %}
            {% set skip_index = skip_index + 1 %}
            {% if skip_index > (page * stop_pos) %}
                {{ thumb_content|raw }}
                {% set cur = cur + 1 %}
            {% endif %}
        {% endif %}
        {% if cur == stop_pos %}
            {% set break = true %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if cur_page > 1 %}
    {% set page = cur_page - 1 %}
{% endif %}
{% if cur > 0 %}
    <a class="next-page" href="{{ path('category_next_page', {id: category.getId(), page: page + 1}) }}"></a>
{% endif %}