{% set break = false %}
{% set cur = 0 %}
{% set page = app.request.get('page', 0) %}
{% set skip_index = 0 %}
{% set stop_pos = cur_page * 9 %}
{% set rendered = 0 %}

{% set filter_cat = cats|join(';')  %}
{% set filter_brand = brands|join(';') %}
{% set filter_onOffer = onOffer %}

{% for entry in category.getInStockEntries() if not break %}

    {% set valid_cat = true %}
    {% set valid_brand = true %}
    {% set valid_offer = true %}

    {% if cats|length > 0 %}
        {% if entry.getItem().getProduct().getCategory().getId() not in cats %}
            {% set valid_cat = false %}
        {% endif %}
        {% for tag_cat in entry.getItem().getCategories() %}
            {% if tag_cat.getId() in cats %}
                {% set valid_cat = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if brands|length > 0 %}
        {% if entry.getItem().getBrand() %}
            {% if entry.getItem().getBrand().getId() not in brands %}
                {% set valid_brand = false %}
            {% endif %}
        {% else %}
            {% set valid_brand = false %}
        {% endif %}
    {% endif %}

    {% if onOffer %}
        {% set valid_offer = entry.onOffer() %}
    {% endif %}

    {% if app_web_user.isDeliverable(entry) and valid_cat and valid_brand and valid_offer %}
        {% set thumb_content = render(controller('AppWebBundle:Item:thumb', { 'id': entry.getId() })) %}
        {% if thumb_content != "" %}
            {% set skip_index = skip_index + 1 %}
            {% if skip_index > (page * stop_pos) %}
                {{ thumb_content|raw }}
                {% set rendered = rendered + 1 %}
                {% set cur = cur + 1 %}
            {% endif %}
        {% endif %}
        {% if cur == stop_pos %}
            {% set break = true %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if isFilter %}
    {% set page = cur_page - 1 %}
    <script type="text/javascript">
        $('#item-thumbs').jscroll({
            nextSelector: 'a.next-page',
            loadingHtml: '<div style="width:100%; text-align:center; margin-top:20px;"><img style="display: inline-block; position: relative; top: 3px; right: 5px;" src="{{ asset('images/ajax-loader.gif') }}" /> Loading...</div>',
            callback: function() {
                page++;

                var thumbs = $( ".item-thumb" );

                if (thumbs.parent().is("div.jscroll-added")) {
                    thumbs.unwrap();
                }
            }
        });
    </script>
{% endif %}
{% if rendered == cur_page %}
    <a class="next-page" href="{{ path('category_next_page', {id: category.getId(), page: page + 1}) }}"></a>
{% else %}
    <span style="display: inline-block;width: 100%;text-align: center;margin-top: 10px;">No more items to display...</span>
{% endif %}
