{% set break = false %}
{% set cur = 0 %}
{% set page = app.request.get('page', 0) %}
{% for entry in category.getInStockEntries() if not break %}
    {% if app_web_user.isDeliverable(entry) and loop.index0 >= (page * 9) %}
        {% set cur = cur + 1 %}
        {{ render(controller('AppWebBundle:Item:thumb', { 'id': entry.getId() })) }}
        {% if cur == 9 %}
            {% set break = true %}
        {% endif %}
    {% endif %}
{% endfor %}
<a class="next-page" href="{{ path('category_next_page', {id: category.getId(), page: app.request.get('page', 0) + 1}) }}">next page</a>