@charset "utf-8";
/* type your own CSS Document */
@import url('https://fonts.googleapis.com/css?family=Arimo|Roboto|Roboto+Slab' );



/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Arimo', sans-serif;*/



body, p
{
	 font-family: 'Roboto', sans-serif;
	color: #000;
	
}
p{
	font-size:12px;
	color: #858585;
	margin-top:5px;}

h1, h2, h3, h4, h5, h6 { font-weight: normal; 
   font-family: 'Arimo', sans-serif; }

h5 { font-size: 13.3px; }

.bottom-brd { border-bottom: 1px #e3e1e1 solid; }
a{color:#000;}
a:hover{color:#f97a78;}
.slider-cary
{
	overflow: hidden;
	background-size: cover;
}

.slider-cary .slider
{
	opacity: 0;
	z-index: 0;
}

.slider.active
{
	opacity: 1;
	z-index: 2;
}

.slider-left { perspective: 1000; }

.social-footer a.comn-social
{
	width: 20px;
	height: 20px;
	opacity: 0.6;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 20;
}

a.comn-social.in { left: 24px; }

a.comn-social.yb { left: 53px; }

a.comn-social.twit { left: 84px; }

.top-header
{
	background: #1b1d20;
	font-size: 14px;
}

.top-header a
{
	color: #fff;
	padding: 2px;
	border-radius: 4px;
}

.top-header a:hover { background: #7b652b; }

.change-location { background: #241138; }

.change-location select
{
	background: none;
	border: none;
	color: #fff;
	font-size: 14px;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.icon-map-marker
{
	margin-top:8px;
}
.change-location select option
{
	border: none;
	background:#403d58;
	padding:5px 0;
}

.social-top-header a
{
	position: absolute;
	width: 20px;
	height: 20px;
	right: 0px;
	top: 0px;
}

.social-top-header a:hover { background: none; }

.social-top-header a.yt { right: 30px; }

.social-top-header a.tw { right: 58px; }

.social-top-header a.fb { right: 84px; }

.searchEntBut{
	background: url(../images/icons/search-icon.svg) no-repeat #fff;
    background-size: 100%;
    position: absolute;
    width: 34px;
    padding: 16px 5px;
    border: 0px;
    right: 2.2%;
    top: 16px;
}

.logo-cart-search { border-bottom: 1px #e9e9e9 solid; }

.navigation ul li
{
	padding: 0 15px;
	font-size: 13px;
	text-transform: uppercase;
}



.navigation ul li a { color: #333; }

.home-page-cart ul li .badge
{
	width: 18px;
	height: 18px;
	padding-top: 2px;
	background: rgba(236,75,77,0.9);
	color: #fff;
	border-radius: 20px;
	position: absolute;
	font-size: 10px;
	text-align: center;
	top: -5px;
	left: 5px;
}

.slider-offer-cary h5.head { border-top: 1px #999 solid; }

.slider-offer-cary h5.head span
{
	position: absolute;
	background: #fff;
	top: -10px;
	padding: 0 5px;
	left: 5px;
}

.slider-navigation
{
	bottom: -24px;
	background: #fff;
	border-bottom: 1px #dcddd4 solid;
    display: none;
}

.slider-navigation .block-3
{
	padding: 5px 25px;
	font-size: 13px;
	border-right: 1px #c5c3c3 solid;
    min-height: 44px;
    cursor: pointer;
}
.slider-navigation .block-3:hover{
    background: #e3e3e3;
}

.slider-navigation .block-3.active
{
	background: #fd6260;
	color: #fff;
}

.slider-navigation .block-3.active:after
{
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: #fd6260;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top: -6px;
	left: 10px;
}

.offerRight .full-width:first-child{margin-top: 0px!important;}
.offerRight .full-width{margin-top: 8px;}

.features-cary{
	perspective:500px;
	}
.features-cary .block-3{
	cursor:pointer;
	}
.features-cary .block-3:hover .icon-show{
	transform:rotateY(180deg);}
.features-cary .icon-show
{
/*	width: 35%;*/
	display: inline-block;
	border-radius: 80px;
}

.features-cary em { font-size: 12px; }

.by-product-home { background: #efede5; }
.outer-div{

	}
.by-product-home .block-3:hover .outer-div{
	animation:2s ease-in border-animation forwards;
	-webkit-animation:2s ease-in border-animation forwards;
	-moz-animation:2s ease-in border-animation forwards;

	}
@keyframes border-animation{
	25%{ border-top:6px #fbcc11 solid; }
	50%{border-top:6px #fbcc11 solid;
		border-right:6px #fbcc11 solid;}
	75%{
		border-top:6px #fbcc11 solid;
		border-right:6px #fbcc11 solid;
		border-bottom:6px #fbcc11 solid;
		}
	100%{
		border-top:6px #fbcc11 solid;
		border-right:6px #fbcc11 solid;
		border-bottom:6px #fbcc11 solid;
		border-left:6px #fbcc11 solid;

		}
	}

.by-product-home .outer-div { border: 6px #fff solid; }

.by-product-home .block-3 .block-9
{
	z-index: 10;
	top: 38%;
}

.by-product-home .inner-div { background: #fff; }

.by-product-home .inner-div .how-product
{
	font-size: 12px;
	color: #422e2e;
}

footer
{
	font-size: 13px;
	line-height: 25px;
	border-top: 1px #ededed solid;
	border-bottom: 1px #ededed solid;
}

footer a { color: #000; }

footer a:hover { color: #999; }

.footer-social a
{
	position: absolute;
	width: 20px;
	height: 15px;
	top: 0px;
	left: 0px;
}

.footer-social a.fb { left: -2px; }

.footer-social a.tw { left: 23px; }

.footer-social a.yt { left: 50px; }

.footer-social a.gp { left: 80px; }

.footer-second
{
	background: #363636;
	font-size: 11px;
}

.footer-second a { color: #fff; }

.footer-second a:hover { color: #ff871c; }

.footer-comn-catg
{
	max-height: 40px;
	overflow: hidden;
}
.footer-comn-catg h5{
	color:#aca8b0;}
.footer-comn-catg.active h5{
	color:#555159;}

.footer-comn-catg.active { max-height: 500px; }

.footer-comn-catg .footer-submenu:after
{
	content: "+";
	position: absolute;
	right: 5px;
	top: 0px;
}

.footer-comn-catg.active .footer-submenu:after { content: "-"; }

.footer-comn-catg .footer-submenu { font-size: 12px;
color:#86828a; }
.footer-comn-catg.active .footer-submenu{
	color:#000;}

.footer-comn-catg a
{
	color: #6b6472;
	border: 1px #CCC solid;
	border-radius: 5px;
	padding: 2px 5px;
	font-size: 11px;
	display: inline-block;
	margin-top: 8px;
	background: #f3f2f2;
	letter-spacing: 1px;
}

.footer-comn-catg a:hover
{
	background: #fff;
	border: 1px #000 solid;
	color: #000;
}

.login-register-show{
	width:0px;
	height:0px;
	background:rgba(30,16,36,0.98);
	z-index:20;
	border-radius:5px;
	overflow:hidden;
	right:10px;
	top:25px;
	}
.close-login{
	display:block;
	margin-top:15px;}
.login-register-show.active{
	right:15px;
	top:15px;
	width:300px;
	height:300px;
	background:rgba(48,16,56,0.98);
	z-index:20;
	border-radius:300px;
	border-top:2px #fff solid;
	box-shadow:1px 2px 1px rgba(32,12,60,0.9);
	-moz-box-shadow:1px 2px 1px rgba(32,12,60,0.9);
	-webkit-box-shadow:1px 2px 1px rgba(32,12,60,0.9);
	}
.submit-login{
	display:inline-block;
	color:#fff;
	margin-top:15px;
	padding:2px 8px 2px 8px;
	border:1px #fff dotted;
	border-radius:100px;
	font-size:13px;
	text-transform:uppercase;
    background: #090931;
	}
.submit-login:hover{
	border:1px #fff solid;
	background:#3c0c72;
	}
.submit-login .icon-arrow-right{
	font-size:10px;
	}
.login-reg-pasword{
	font-size:10px;
	color:#fff;}
.login-reg-pasword a{
	color:#fff;}
.login-reg-pasword a:first-child{
	font-size:13px;
	text-transform:uppercase;
	color:#ffbf11;}
.login-reg-pasword a:hover{
	text-decoration:underline;}
.login-butn .icon-facebook{
	color:#3392f4;}
.login-butn .icon-google-plus{
	color:#f44647;}
.login-butn{
	color:#85678d;}
.login-butn a{
	font-size:14px;
	padding:0 3px;
	}
nav ul li{
	position:relative;}
nav .nav-submenu{
	height:0px;
	z-index:30;
	top:85%;
	width:100.2%;
	overflow:hidden;
	opacity:0;
	display:none;
	}
nav .nav-submenu.active, nav .nav-submenu:hover{
	background:#fff;
	border:1px #ededed solid;
	max-height:700px;
	height:auto;
	top:76%;
	opacity:1;
	display:block;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
}
/*nav .nav-submenu ul li{
	width:100%;
	font-size:12px;
	padding-top:6px;
	padding-bottom:6px;
	border-bottom:1px dotted #e0d9e5;
	cursor:pointer;}
nav .nav-submenu ul li .icon-arrow-right{
	font-size:9px;
	color:#bfba8b;
	display:none;}
nav .nav-submenu ul li:hover{
	background:#fcfbdc;
	}
nav .nav-submenu ul li.active{
	background:#fcfbdc;
	}
nav .nav-submenu ul li.active .icon-arrow-right, nav .nav-submenu ul li:hover .icon-arrow-right{
	display:inline-block;}
nav .nav-submenu ul li:last-child{
	border-bottom:0px;}
nav .nav-submenu .block-9{
	border-left:1px dotted #666666;
	}
nav .nav-submenu .block-6{
	background:#eaeae7;

	}
nav .nav-submenu .block-3{
	background:#fff;}
*/
.block-3.main-sub-nav{
	/*display:none !important;*/
	margin-left:0px;
	}
.main-sub-nav.block-3.active{
	display:inline-block !important;
	margin-left:0px;}

.second-sub-nav li.active{
			background:#fcfbdc;
			}
.second-sub-nav{
				display:none !important;
				margin-left:0px;
				border-left:1px dotted #666666;
				left: 100%;
				width: 100%;
				top: 0%;
				}
.second-sub-nav.active{
				display:inline-block !important;
				margin-left:0px;
				}


.third-sub-nav{
	display:none !important;
	margin-left:0px;
	width: 198%;
	position: absolute;;
	top: 0%;
	left: 100%;
	bottom: 10px;
	}
.third-sub-nav.active{
	display:inline-block !important;
	margin-left:0px;
	}
.responcive-menu-cliker, .close-main-menu{
		display: none !important;
		font-size: 20px;
	}


@media (max-width:768px){
    .nav-submenu > ul li > ul{
        display: none !important;
    }
    .home-page-cart{
        margin-bottom: 10px;
    }
    .home-page-cart ul{
        margin-top: 10px!important;
    }
	.responcive-menu-cliker, .close-main-menu{
		display: inline-block !important;
	}
	nav.active{
		left:0%;}
	nav{
		position: absolute!important;
		width: 50%!important;
		height: 100%;
		left: -105%;
		top: 0px;
		background: #12123f;
		z-index: 35;
		
	}
		nav ul li{
			color: #fff;
			width: 100%;
			text-align: left;
			padding: 5px 10px!important;
		}
	nav ul li a{
		color: #fff!important;
	}
nav .nav-submenu .block-3, nav .nav-submenu.active{
		background: #12123f!important;
		border: none!important;
		width: 100%;
		}
.nav-submenu ul li {
height: 25px;
}
	nav .nav-submenu.active, nav .nav-submenu:hover{
		top:0px;
		opacity:1;
		display:block;
		width: 100%;
		left: 0%;
	}
.second-sub-nav{
	left: 0%;
	border: none!important;
}
.second-sub-nav.active{
	display: block;

}
nav .nav-submenu ul li:hover, nav .nav-submenu ul li.active{
			background:#090931;
			}
.left-menu-user a{
	display:inline-block;}
	}
.close-filter{
	display:none;}
@media (max-width:980px){
.resposive-filter{
	height:38px;
	overflow:hidden;
	/*background:#f5f5f5;*/
	border-bottom:1px #ccc solid;
    transition: 0.6s all;}
.resposive-filter h3{
	cursor:pointer;}
.resposive-filter .close-filter{display: none;}
.resposive-filter.active{
	background:#fff;
	height:auto;
	max-height:1500px;
	border-bottom:1px #999 solid;
	}
.resposive-filter.active .close-filter{
        display: block!important;
    }
.productspage-pro, .product-details-page {
	border-left:none !important;}
.close-filter{
	background:#46aee9;
    font-size: 12px;
	}
	}
@media (max-width:480px){
    .whats-new .block-98{
        height: auto!important;
    }
}
.select-alocation{
	min-height:300px;
	height:50%;
	background:url(../images/map-fade.jpg) #fff bottom no-repeat;
	}
.small-text-mmz{
	font-size:10px;
	}
.select-alocation table tr td{
	vertical-align:text-top;
	overflow:hidden;
	}
.select-alocation table tr td select{
	width:105%;
	border:none;
	border-bottom:1px #666 solid;}
.first-go-button{
	background:none !important;
	border:none;
	font-size:18px;
	cursor:pointer;}
.first-go-button span{
	font-size:12px;}
.first-location-popup{background: rgba(255,255,255,0.95);}
.first-location-popup.active{
	top:-120%;
	height:0px;
	overflow:hidden;
    background: rgba(255,255,255,0.9);
	}
	
.breadcrumb{
	/*border-top:1px #b1b1b1 solid;
	border-bottom:1px #b1b1b1 solid;*/
	font-size:11px;
	background:#f0f0f0;
	color:#9c9c9c;
	padding:5px 0 5px 8px !important;}
.breadcrumb a{
	font-size:11px;
	color:#9c9c9c;}
	
.productspage-pro, .product-details-page{
	border-left:1px #ededed solid;
	}
.button-product{
	background:#fff;
	border:1px #666 solid;}
.filters-left{
	font-size:13px;
	}
.count-products-filter {
	border:1px #999 solid;
	font-size:12px;
	margin-left:2px;}
.first-cat-cary{
	overflow:hidden;
	overflow-y:scroll;
	}
.none-overx-pro{
	line-height:26px;}

.product-details-page h3{
	font-size:22px;
	}
.product-details-page span.dim-font{
	color:#979797;
	font-size:14px;}
span.dim-font a{
	color:#979797;
	font-size:11px;
	}
.product-details-page span.save-font{
	font-size:14px;
	color:#bf6060;
	}
span.extrasmall-dim-font{
	font-size:11.5px;
	color:#7f7f7f;}
.momz-button{
    margin-top: 5px;
	border-radius:2px;
	border:1px #666 solid;
	background:#fff;
	padding:8px 8px 8px 10px;
	cursor:pointer;
	/*text-transform:uppercase;*/
	transition:0.5s all ease;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;}
.momz-button span{
	font-size:11px;
	margin-right:2px;}
.momz-button:hover{
	background:#ffe79c;
	}
.momz-button.active{
	background:#ffe79c;
	}
.border-top{
	border-top:1px #CCC solid;}
.details-page-click-image .block-3{
	}
.cart-page table tr th, .cart-user-table tr th{
	background:#f4f4f4;
	font-size:14px;
	font-weight:normal;}
.cart-page table tr td, .cart-user-table tr td{
	text-align:center;
	padding:8px;
	color:#808080;
	font-size:14px;
	border-bottom:1px #f1f1f1 solid;}
td.editcary-td span{
	font-size:18px;}
.cart-page table tr td.totalcart-rate, .cart-user-table tr td.totalcart-rate{
	font-size:24px;
	text-align:right;
	background:#fff !important;
	padding:18px 18px;
	color:#000;
	}
.cart-page table tr:nth-child(even) td, .totalcart-rate tr:nth-child(even) td{
	
	}
.totalcart-rate span{
	font-size:18px;}
.button-cart button{
	font-size:16px;}
.remove-wishlist{
	font-size:12px;
	}
.yellow-bg{
	background:#f5f5f5;
	}
.log-social{
	display:inline-block;
	border-radius:5px;
	border:1px #666 solid;
	background:#fff;
	padding:6px 10px 6px 8px;
	cursor:pointer;
	font-size:14px;
	text-transform:uppercase;
	transition:0.5s all ease;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;
	color:#fff;
	}
.log-social span{
	font-size:12px;}
.log-social.fb{
	background:#1d80bf;
	}
.log-social.gp{
	background:#db4e4e;
	}
.left-menu-user{
	line-height:28px;
	font-size:13px;
	}
.left-menu-user a{
	display:block;}
.border_left{
	border-left:1px #CCC solid;
	}
.user-order .block-4{
	opacity:0.4;}
.user-order .block-4.active{
	opacity:1;}
span.pending-user{
	color:#C30;}
.addresscary{
	line-height:25px;
	font-size:14px;
    margin-top: 10px;
}
.add-address-user .adrs-input{
	margin-top:5px !important;}
.add-address-user  label{
	margin-top:8px;
	}
.top-place-select{
	width:80% !important;
	margin-top:0px !important;}
	
.about-2{
	background:#6FAAD7;
	}

@media (max-width:768px){
    .nav-submenu > ul > ul{
        display: none!important;
    }
    .nav-submenu ul{
        background: #12123f;
    }
    .nav-submenu ul li{
        border-bottom-color: #393966!important;
    }
	.left-menu-user{
		border-bottom:1px #CCC solid;}
	.left-menu-user a{
	display:inline-block;
	padding-right:8px;}
.border_left{
	border-left:none;}
	}
@media (max-width:768px){
	.cart-page table tr td, .cart-user-table tr td{
		border-bottom:1px #fff solid;
		}
	.cart-page table tr td:last-child, .cart-user-table tr td:last-child{
		border-bottom:1px #CCC solid;
	}
	}

.faq-div h5{
	background:#f2f2f2;
	}
.faq-div .show-up{
	max-height:0px;
	overflow:hidden;
	margin-top:0px;}
.faq-div.active .show-up{
	max-height:1000px;
	overflow:hidden;
	margin-top:15px;
	padding-bottom:15px;}
.change-seller{
	font-size:12px;
	text-decoration:underline;
	color:#999;}
.show-change-seller{
	max-height:0px;
	overflow:hidden;}
.show-change-seller.active{
	max-height:400px;}
.seller-selectmenu{
	margin-top:5px !important;
	}
.store-carry span{
	font-size:14px;
	color:#999;
	}
        
.nav-submenu{
	background:#fff;
	min-height:350px;
	}
.nav-submenu ul{
	height:100%;
	position:inherit;}
.nav-submenu ul li{
	border-bottom:1px #d0e6c8 solid;
	}	

.nav-submenu > ul{
	width:230px;
	/*background:#ebebeb;*/
	display:inline-block;
	border-right:1px #ededed solid;
	position:relative;
	}
.nav-submenu > ul.main li{
    /*font-weight: bold;*/
    letter-spacing: 1px;
    /*background: #12123f;*/
}
.nav-submenu > ul li{
	width:100%;
	padding:8px 10px;
	border-bottom:1px #ededed solid;
	position:static !important;
    text-transform: capitalize;
	}
.nav-submenu > ul li span{
	display:none;
	}
.nav-submenu > ul li a:hover span{
	display:inline-block;
	font-size:8px !important;
	margin-left:2px;
	color:#e1c400;
    text-transform: capitalize;
    font-size: 12px;}
.nav-submenu > ul li a{
	width:100%;
	height:100%;
	display:block;
	}
.nav-submenu > ul li:hover{
	background:#f4f4ee;}
.nav-submenu a{
	font-size:12px;
	}
.nav-submenu > ul li > ul{
	display:none;
	width:100%;
	position:absolute;
	top:0px;
	left:100%;
	border-left:1px #d6d6d6 solid;
	}
.nav-submenu > ul li:hover > ul{
	display:block;}
.nav-submenu > ul li > ul li{
	border-bottom:1px #fff solid;
	}
.nav-submenu > ul li > ul li:hover{
	background:#fdfddc;
	}
	
.nav-submenu > ul li > ul li > ul{
	display:none;
	width:100%;
	position:absolute;
	top:0px;
	left:100%;
	border-left:1px #d6d6d6 solid;
	}
.nav-submenu > ul li > ul li:hover > ul {
	display:block;}

.nav-submenu > ul li > ul li > ul li > ul{
	display:none;
	width:100%;
	position:absolute;
	top:0px;
	left:100%;
	border-left:1px #d6d6d6 solid;
	}
.nav-submenu > ul li > ul li > ul li:hover > ul {
	display:block;}
	
.nav-submenu > ul li > ul li > ul li > ul li > ul{
	display:none;
	width:100%;
	position:absolute;
	top:0px;
	left:100%;
	border-left:1px #d6d6d6 solid;
	}
.nav-submenu > ul li > ul li > ul li > ul li:hover > ul {
	display:block;}
	
.nav-submenu > ul li > ul li > ul li > ul li > ul li > ul{
	display:none;
	width:100%;
	position:absolute;
	top:0px;
	left:100%;
	border-left:1px #d6d6d6 solid;
	}
.nav-submenu > ul li > ul li > ul li > ul li > ul li:hover > ul {
	display:block;}

/*My Style additions*/
.image_uploader .real_input{
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
}
.image_uploader .preview_box {
    padding: 10px 0 0 0;
}
.image_uploader .preview_box .img_box {
    position: relative;    
    display: inline-block;
}
.image_uploader .preview_box .img_box img {
    height: 80px;
    border: 1px solid #CCC;
    padding: 3px;
    margin: 0px 5px 0 0;
}
.image_uploader .preview_box .img_box button {
    position: absolute;
    right: 9px;
    top: 3px;
}

.alert-popup{background:rgba(0,0,0,0.4);transition:0s;opacity: 0;z-index: -1;}
.alert-popup.active{transition:0.1s;opacity: 1;z-index: 10;}
.alert-popup-text-cary{
    min-height:80px;
    height:auto;
    max-height:25%;
    transform:scale(0,0);
    transition:0s;}
.alert-popup-text-cary.active{transform:scale(1,1);transition:0.5s;}
.alert-popup-text-cary .success-text{color:#04e609;}
.alert-popup-text-cary .error-text{color:#FF0000;}
.close-alert{background:#19d784;color:#fff;}

.form-group.has-error .help-block.with-errors {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.inline-msg {
    font-size: 13px;
    color: green;
    width: 100%;
    display: inline-block;
}

.raf-carry{background: #004fa7;}
.raf-fields{border:0px !important;margin-top: 0px !important;}
.raf-submit{margin-top: 0px !important;padding: 6px 10px!important;}
table.raf-table tr{border-bottom: 1px #e9e9e9 solid;padding: 5px 0;}
table.raf-table tr:last-child{border: 0px;}
table.raf-table tr td{vertical-align: middle;}

/* static page css */
.static-content ul {
    list-style: circle;
    margin-top: 10px;
}
.static-content ul li {
    font-size: 12px;
    color: #858585;
}
.product_detail_category_menu ul {
   padding: 0 5px;
}

.product_detail_category_menu ul li a.selected {
    color: #096 !important;
}

.whats-new .block-98{
    height: 265px;
    overflow: hidden;
    
}
.whats-new .block-98 .block-6{height: 140px;overflow: hidden;width: 66.666%;}
.whats-new .block-98 .block-6 img{margin-top: -30px;}
.store-carry .block-3 .block-11{
    height: 350px;
    overflow: hidden;
}
.item-thumb h5{
    height: 30px;
    overflow: hidden;
}
.item-thumb h3{margin-top: 5px!important;}
.item-thumb {}
.first-cat-cary ul li ul li a{
    font-size: 13px!important;
    font-weight: normal!important;
    letter-spacing: 0px!important;
    color: #666666!important;
    padding-left: 13px!important;
}
.first-cat-cary ul li a{
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    color: #000;
    padding-left: 0px;
    /*padding-left: 5px;*/
}
.first-cat-cary ul li{max-height: 26px;
overflow: hidden;
display: block;
transition:0.4s all ease;
}
.first-cat-cary ul li.active{
 max-height: 600px;
 height: auto;
 transition:1s all ease;
}
.adrmsg{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 14px;
    font-size: 12px;
    color: #0a9d07;
}
.mozBut2{
    border: 0px !important;
    background: none !important;
    margin-top: 2px;
}
.my_orders{
    margin-bottom: 25px;
    margin-top: 5px;
}

.userRight{min-height: 350px;}
.my_orders th{border-bottom: 1px #ccc solid;font-family: arial;font-size: 14px;}
.my_orders td:nth-child(even){background: #ddd;}

/*.nav-submenu.firstActive > ul li:first-child ul, .nav-submenu.firstActive > ul li:first-child ul li:first-child ul {
    display: block;
}*/
.nav-submenu.firstActive > ul.main li:first-child ul{
    display: block;
    background: #fff;
}
.brd-L-1p{border: 2px #00e672 dotted !important;}

.item-thumb .block-10{border: #eee 1px solid;padding: 10px;border-radius: 4px;position: relative;}
.iB{display: inline-block;}.tC{text-align: center;}
.b10{width: 83.33333333%;display: inline-block;margin-left: -4px;}
.b2{width:16.66666667% ;display: inline-block;margin-left: -4px;}
.b4{width:33.33333333% ;display: inline-block;margin-left: -4px;padding: 0 5px;}
.b6{width:50% ;display: inline-block;margin-left: -4px;}
.VaM{vertical-align: middle!important;}
.b4 input[type="number"], .b4 input[type="text"]{margin-top: 0px!important;padding:5px 8px!important;background:#ebebeb!important;border-radius: 2px!important;  }

.plusActive{width: 15px;height: 15px;position: relative;cursor: pointer;display: inline-block;text-align: center;}
.first-cat-cary ul li span.plusActive:after{position: absolute;content: "+";font-family: arial;font-size: 18px;font-weight: bold;left: 0px;
    top: 0px;width: 100%;height: 100%;}.first-cat-cary ul li.active span.plusActive:after{content: "-"}


.VarientShowHover {max-height: 0px;overflow: hidden;width: 99%;position: absolute;top: 100%;transition: 0.2s all;left: 0px;z-index: 5;}
.VarientShowHover li{font-family: arial;font-size: 13px;color: #000;padding: 10px 10px;background: #ccc;border-bottom: 1px #999 solid;letter-spacing: 1px;width: 100%;}
.VarientShowHover li .icon-cart-arrow-down {color: #333;width: 20px;height: 20px;padding: 4px 2px 2px 2px;border: 1px #333 solid;border-radius: 50%;transition: 0.8s;}.VarientShowHover li .icon-cart-arrow-down:hover{color: #000;border: 1px #000 solid;}
.VarientShowHover li span{font-size: 10px;color: #1b1d20;}
.item-thumb .block-10:hover .VarientShowHover {max-height: 600px;height: auto; transition: 1s all;}

.newNameSpan{display: inline-block;width: 100%;height: 30px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
a.load_more_new{border: 1px #eee solid;border-radius: 4px;font-size: 12px;padding: 3px 8px;}a.load_more_new span{font-size: 10px;}

.dashshadowCary{display: inline-block;margin-right: 20px;padding: 0px 0px 10px 0px;border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);margin-bottom: 20px;overflow: hidden;min-height: 50px;}
.dashshadowCary .head{background: #ddd;font-size: 14px;text-transform: uppercase;}
.dashshadowCary .lv{display: inline-block;}
.dashshadowCary.wishlist{width: 78%;}
.dashshadowCary.wishlist .lv{width: 20%;}

@media (max-width:480px){
    .dashshadowCary{width: 100%;}
    .dashshadowCary.wishlist .lv{width: 60%;}
    .slider-navigation{text-align: center;padding: 5px 0;}
    .slider-navigation .block-3{width: 15px;min-height: 15px!important;background: #ddd!important;margin-right: 8px!important;border-radius: 50%!important;padding: 0px!important;}
    .slider-navigation .block-3.active::after{display: none!important;}
    .slider-navigation .block-3.active{background: #b60408!important;}
    .banner-item b{display: none!important;}
}
@media (max-width:768px){
    .dashshadowCary{width: 80%;}
    .dashshadowCary.wishlist .lv{width: 40%;margin-bottom: 10px;}
    
    .spanWhats{display: inline-block;}
    .CartTableCary{width: 100%;overflow-y: scroll;}
    .CartTableCary table, .user-order table{min-width: 768px;}.CartTableCary table tr td, .CartTableCary table tr th, .user-order table tr td, .user-order table tr th {display: table-cell!important;width: auto;}
    
}
    
.comn_popUp{position: fixed;width: 100%;height: auto;max-height: 80%;min-height: 40px; background: rgba(255,255,255,.8);top: -110%;left: 0px;transition: 0.2s;padding: 8px;}
.comn_popUp.active{z-index: 15;top: 0%;}
.comn_popUp .contentPopUp{max-width:600px;min-width: 280px;height: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;background: #fff;font-family: sans-serif;box-shadow: 1px 1px 3px rgba(0,0,0,0.5);vertical-align: middle;border-radius: 5px;padding: 6px;}
.comn_popUp .contentPopUp span{display: inline-block;vertical-align: middle;text-align: center;width: 100%;}



.LogOutDropDown{width: 150px;top:100%;background: #eee;height: 0px;max-height: 0; overflow: hidden; z-index: 5;box-shadow: 1px 1px 2px rgba(0,0,0,0.1);opacity: 0;transition: 0.5s;}.LogOutDropDown.active{top: 108%;opacity: 1;height: auto;max-height: 500px;}
.LogOutDropDown:after{content: "";background: #eee;position: absolute;width: 10px;height: 10px;top: -5px;transform: rotate(45deg);left: 10px;z-index: 0;}
.LogOutDropDown a{display: inline-block;width: 100%;padding:8px;font-size: 13px;color: #000;text-align: left;position: relative;z-index: 2;}
.LogOutDropDown a:hover{background: #ddd;}
.LogOutDropDown a.logOut{background: #ddd;color: #000;}.LogOutDropDown a.logOut:hover{background: #f00;color: #fff;}


.cheakout_popup{position: fixed;width: 100%;background: #333;bottom: -105%;left: 0px; opacity: 1;height: 60px;z-index: 12;
    transition: 0.5s;}.cheakout_popup.active{bottom: 0%;}
.cheakout_popup .cartText{font-size: 16px;}
.cheakout_popup .cartText span{font-size: 12px;}
.checkoutBut{font-family: 'Roboto', sans-serif;background: #ffcc00;text-transform: uppercase;font-size: 17px;box-shadow: 1px 1px 2px rgba(0,0,0,0.6);}
.checkoutBut span{font-size: 14px;}
@media (max-width:480px){
    .cheakout_popup{height: 80px;}
    .userRight #pie{min-width: 290px!important;}
    .item-primary-img div{display: none!important;}
    .userRight{padding-left:0px!important;}
}
body{transition: 06s;}
body.paddBtm60{
    padding-bottom: 60px;
}
.logAfterClick{width: 125px;color: #fff;max-height: 0px; text-align: left;padding: 0px;top: 140%;font-size: 14px;z-index: 3;border-radius: 5px;background: #fff;transition: 0.4s;}.logAfterClick a{color: #fff;padding: 5px 0;display: inline-block;}.logAfterClick a span{color: #fff;font-size: 12px;}
.logAfterClick.active{padding: 10px;height: auto;max-height: 400px;background: #333;}

.whychoosediv div{vertical-align: middle;}
.whychoosediv h3{color: #024503; font-family: 'Roboto', sans-serif;}
.whychoosediv em{font-size: 12px;}
/*.whychoosediv{border-bottom: 1px #ddd solid;}*/

