{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Request Email Address{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
        <a href="{{ path('home') }}">Home</a>  -  Request Email Address
    </div>

    <section class="center-1200px text-center block-fl-cary ptb-25p">
            <div class="block-6 block-lb-8 block-mb-11 text-left br-4p bs-nrmls ptrbl-40p yellow-bg">
            <h3> Please enter your email address </h3>
            <form role="form" name="frmRequestEmail" id="frmRequestEmail" method="POST" action="{{ path('forgot_consumer_password') }}">
                {% if app.user.getEmail() == null %}
                    <input type="email" name="email" id="email" required="" placeholder="Consumer Email ID" autofocus>
                {% endif %}
                <br/>
                <br/>
                {% if app.user.getPhone() == null %}
                    <input type="number" name="phone" id="phone" required="" placeholder="Consumer Phone Number">
                {% endif %}

                <button type="submit" class="momz-button mt-20p"> Submit <span class="icon-arrow-right-1"></span> </button>
                <script type="text/javascript">
                    $('#frmRequestEmail').validator();
                </script>
                {% set errors = app.session.flashbag.get('email_request_error') %}
                {% if errors|length > 0%}
                    <div class="messages" style="display: inline; margin-left: 10px; color: red; font-size: 13px;">
                        {% for flashMessage in errors %}
                            <span>{{ flashMessage | trans }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}