<div style="text-align:left">

    <p>Hello {{ order.getConsumer().getFullName() }},</p>

    <p>Your order has been updated to the following status:</p>
    
    <p>{{ status }}</p>

    <p>Regards,</p>

    <p>The Mommooz Team</p>

</div>