{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Order Status{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
        <a href="{{ path('home') }}">Home</a>  -  Register
    </div>

    <section class="center-1200px text-center block-fl-cary ptb-25p">
        <div class="block-6 block-lb-8 block-mb-11 text-left br-4p bs-nrmls ptrbl-40p yellow-bg">
            <h3> Your Order Status... </h3>
            <span>{{ status|raw }}</span> <br/><br/>
            <a href="{{ path('home') }}"><button class="momz-button" name=""> <span class="icon-angle-left"></span>  Continue Shopping </button></a>
        </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}