{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Login{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
        <a href="{{ path('home') }}">Home</a>  -  Register
    </div>

    <section class="center-1200px text-center block-fl-cary ptb-25p">
            <div class="block-6 block-lb-8 block-mb-11 text-left br-4p bs-nrmls ptrbl-40p yellow-bg">
                <h3> Register </h3>
                <span>Thanks for registering with momooz...</span>
                <br/>
                <p>Please <a href="{{ path('login_page') }}">login</a> to your account to make orders.</p>
                {#<p>Please check your mail to activate account.</p>#}
                <br/>
                <a href="{{ path('home') }}">Close</a>
            </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}