{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Policies{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
	<a href="{{ path('home') }}">Home</a>  -   Policies
    </div>

    <section class="center-1200px mt-15p pb-35p block-fl-cary text-left">
        <h3> Return Policy </h3></br>
        <div class="full-width mt-10p store-carry">
            <p>Any damaged or wrongly delivered item will be replaced within 24 hours free of cost.</p>
            <p>All items can be cancelled without any charges before 9 PM every day.</p>
            <p>Non-perishable items ( items other than fruits &amp; vegetables) can be cancelled before the order is out for delivery without any charge.</p>
            <p>Unopened, unused non-perishable items ( items other than fruits &amp; vegetables) can be returned in their original packaging within 48 hours of receipt. Delivery charges, if any will not be returned.</p>
            <p>In case of returns being taken as per our returns policy, for cash on delivery, we will return the money for the returned goods at the time of delivery itself. In case of credit/debit card payments we will credit the money back to your credit/debit card or Net banking which takes up to 8 to 10 working days to reflect in your statement. We will not be giving any cash refunds for purchase done using credit/debit card payments. Please contact customer support for further clarifications.</p>
        </div>
        
        <h3> Cancellation Policy </h3></br>
        <div class="full-width mt-10p store-carry">
            <p>You can cancel your order at any time before we process and send the &quot;Processing&quot; email to you (usually within 2-3 hours of placing the order). Cancellation after sending the &quot;Processing&quot; email is not acceptable due to any reason.</p>
        </div>
        
        <h3> Privacy Policy </h3></br>
        <div class="full-width mt-10p store-carry">
            <p>You can cancel your order at any time before we process and send the &quot;Processing&quot; email to you (usually within 2-3 hours of placing the order). Cancellation after sending the &quot;Processing&quot; email is not acceptable due to any reason.</p>
            <p>Any information you provide when placing an order is held in the strictest confidence. When placing an order you are required to provide us with the following information: Name, Billing address, Delivery address, Contact number, E-mail address for confirmation of the order. This information is used for delivery, billing purposes, latest offers, and promotions and to fulfill your order.</p>
            <p>Any personal information provided to or to be gathered by momooz.com is controlled primarily by momooz.com.</p>
            <p>Access to and use of password protected and / or secure areas of this website are restricted to authorized visitors only. Unauthorized visitors attempting to access these areas of the website may be subject to legal action.</p>
            <p><b>Cookie/Tracking Technology</b></p><br/>
            <p>momooz.com site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the Site, and understanding how visitors use the Site. Cookies can also help customize the Site for visitors. Personal information cannot be collected via cookies and other tracking technology, however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.</p>
            <p><b>Distribution of Information</b></p></br>
            <p>momooz.com may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.</p>
            <p><b>Commitment to Data Security</b></p></br>
            <p>Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from momooz.com allow you to opt out of further mailings.</p>
        </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}