{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Policies{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
	<a href="{{ path('home') }}">Home</a>  -   Policies
    </div>

    <section class="center-1200px mt-15p pb-35p block-fl-cary text-left">
        <h3> Store </h3>
        <div class="full-width mt-10p store-carry">
            
        </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}