<div class="full-width">
    <img src="{{ asset('bundles/appweb/images/offer-1.jpg') }}" class="image-fw" alt="offer">
</div>
<div class="full-width mt-15p">
    <img src="{{ asset('bundles/appweb/images/offer-2.jpg') }}" class="image-fw" alt="offer">
</div>