<h5 class="black-txt ptb-5p head relative-pos"> <span>Traditional</span> </h5>
{% set break = false %}
{% set count = 0 %}
{% for entry in entries if not break %}
    {% if app_web_user.isDeliverable(entry) and entry.isEnabled() %}
        {% set count = count + 1 %}
        <div class="full-width block-fl-cary mt-20p">
            <a href="{{ path('item_page', {'id': entry.getId()}) }}">
                <div class="block-4"> <img src="{{ entry.getItem().getRealPicturePath() | imagine_filter('item_thumb') }}" class="image-fw" alt="momooz product"> </div>
                <div class="block-8 text-center">
                    <div class="block-10 center-pos text-left">
                        <h5 class="mt-0p">{{ entry.getItem().getName() }}</h5>
                        <h5 class="mt-10p">RS. {{ entry.getActualPrice() }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% if count == 3 %}
            {% set break = true %}
        {% endif %}
    {% endif %}
{% endfor %}
